:root{
    --Dark-Violet: hsl(258, 26%, 42%);
}

@media (max-width: 1500px){
    /*BodyMore*/


    .Body_More
     .More_txt{
         margin-top:100px;
     }

   .Body_More
    .More_ilus{
        height: 50vh;
    }
}

@media (max-width:970px){
    /*NaV*/
    .NAV
    .ul_nav
    .logo_nav{
        height:6vh;
    }

    .NAV .ul_btn button{
        padding:3px 8px;
    }

     /*BodyMore*/

    .Body_More
    .More_ilus{
        height: 30vh;
    }

    .Body_More
    .More_txt h1{
        font-size:40px;
    }

    /*BodyShorten*/

    .shorten_Body
    .shorten_form{
        height: 20vh;}

     /*footer*/
     .footer
     .Social img{height:3vh;}

     .footer
     .txt_Footer ul{line-height: 1.2em; margin-left: 10px;}
   
}

@media (max-width: 840px){
     /*NaV*/
    .navhamb{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:10px;
    }

    .navhamb i{
       font-size:30px;
    }
  
    .NAV{
       right:-150%;
       z-index: 99999999999;
       top: 20;
       transition:all 0.8s ease-in-out;
       box-shadow: 5px 5px 15px rgb(153, 153, 153);
       background-color: var(--Dark-Violet);
       border-radius: 10px;
    }

    .navResponsive{
        right:130px;
        flex-direction: column;
        width:60vw;
        text-align: center;
    }

    .NAV
    .ul_nav
    .logo_nav {
        display: none;
    }

    .NAV
    .ul_nav{
        flex-direction: column;
        line-height:2.5em;
        margin-right:50px;
    }

    .NAV
    .ul_nav a li{ 
       margin-right:35px;
       color: #fff;
    }
    .NAV
    .ul_nav a li:hover{ 
       color: #000;
    }

    .ul_btn{
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction: column
    }

    .ul_btn a button{
      margin-top:10px;
      margin-right:50px;
      width: 30vw;
    }

    

    /*BodyMore*/

    .Body_More{
         flex-direction: column-reverse;
         text-align: center;
    }

   /*BodyShorten*/
   .shorten_Body
    .shorten_form{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 27vh;
    }
    .shorten_Body
    .shorten_form input{ width:70vw; ; }
    .shorten_form button{ width:20vw; height:5vh; margin-top:10px;}

     

     /*TtxShort*/

     .Sec_shorten{
         flex-direction:column;
     }

      /*Footer*/
      .footer{
        flex-direction:column;
      }

      .txt_Footer{
          margin-right: 50px;
      }

}

@media (max-width: 700px){

    .Body_More
    .More_txt .h1_txt{
        font-size:40px;
        margin-top:10px;
    }

    .navResponsive{
        right:90px;
    }
}

@media (max-width: 600px){


    .navResponsive{
        right:40px;
        width: 80%;
    }

    /*BodyMore*/

    .Body_More
    .More_ilus{
        height:20vh;
    }


    .Body_More
    .More_txt p{
        font-size:13px;
    }
    
    /*txt_shorten*/

    .txt_shorten
    .Sec_txt .h2_txt{font-size:20px;}


    .txt_shorten
    .Sec_txt  p{
        font-size:13px;
    }

    .Sec_shorten{
        text-align: center;
    }

    .txt_shorten
    .Sec_shorten article img{
       height:8vh;
       padding:5px;
    }

    .txt_shorten
    .Sec_shorten article h2{
        font-size:18px;
    }

    .txt_shorten
    .Sec_shorten article p{
        font-size:13px;
    }

    /*BodyShorten*/

           .shorten_Body .link_shorten{
               width:80vw;
               font-size:12px;
               
           }

        .shorten_form button{ width:60vw; height:8vh;}

        /*TtxShort*/

        .txt_shorten
        .Sec_txt{
            margin-top:50px;
        }
    

    /*Footer*/

    .txt_Footer{
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 400px){

    .shorten_Body
    .shorten_form{
        height: 30vh;
    }

    .shorten_Body .link_shorten{
        width:82vw;
        font-size:10px;
        
    }
    
    .shorten_form button{ width:60vw; height:5vh;}

    .navResponsive{
        right:20px;
        width: 80%;
    }
}